%div.main.container
  %div.row
    %div.twelvecol
      %form{:method=>'post', :action=>"'/u/'+ #{url_for("#{@current_user["username"]}")}"}
        %p
          %label{:for=>'username'} 
            Username (will be the name in your urls)
        %p
          %input{:type=>'textbox', :name=>'username', :value=>"#{@current_user["username"]}"}
        -if !@streams.nil?
          %p
            Streams
          -@streams.each do |s|
            %div{:style=>"margin-left:1em;"}
              %a{:href=>"#{url_for('/u/' + @current_user.username + '/stream/' + s.name)}", :title=>"#{s.type}"}
                #{s.name}
        -if !@current_user.username.nil?
          %p
            %a{:href=>"#{url_for('/u/' + @current_user.username + '/stream')}"}
              Add Stream
        %p
          %input{:type=>'submit', :id=>'submit', :value=>'  Save  '}
        %p
          %a.page{:href=>"javascript:(function(){if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='http://" + @host + "/u/" + @current_user.username + "/marklet.js?';}})();"}
            Save To Pigeon
          <-- Drag this to your bookmarks for extra goodness
    -if !@current_user.username.nil?
      %div.paging
        %a{:href=>"#{url_for('/u/' + @current_user.username + '/0')}"}
          %span.page
            Stream



