%div.main.container
  %div.row
    %div.twelvecol
      %form{:method=>'post', :action=>"'/u/'+ #{url_for("#{@current_user["username"]}")}"}
        %p
          %label{:for=>'username'} 
            Username (will be the name in your urls)
        %p
          %input{:type=>'textbox', :name=>'username', :value=>"#{@current_user["username"]}"}
        %p
          %a{:href=>"#{url_for('/auth/facebook')}"}
            FaceBook
        %p
          %a{:href=>"#{url_for('/auth/twitter')}"}
            Twitter
        %p
          %a{:href=>"#{url_for('/auth/google_oauth2')}"}
            Google
    -if !@current_user.username.nil?
      %div.paging
        %a{:href=>"#{url_for('/u/' + @current_user.username + '/0')}"}
          %span.page
            Stream



