%div.container.main
  -prevdate = ''
  -@links.each do |link|
    -currdate = link.updated_at.strftime('%a %b %d, %Y')
    -if currdate != prevdate
      %div.datesec
        =currdate
    %div.link
      %a{:href=>"#{link.local_url}", :title=>"#{link.remote_url}"}
        #{link.title}
    -prevdate = currdate
  %div.paging
    -if @prev > 0
      %span.page
        %a{:href=>"/#{@prev}"}
          <<
    -if @next != ''
      %span.page
        %a{:href=>"/#{@next}"}
          >>
