<!DOCTYPE html>
%html
  %head
    %title 
      #{@title}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width-device-width, initial-scale=1.0, userscalable=no"}
    %link{:href=>"#{url_for '/img/birdie.png'}", :rel=>'apple-touch-icon'}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"}
    %link{:rel => "stylesheet", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Cabin", :type => "text/css", :media => "all"}
    %link{:rel => "stylesheet", :href => "#{url_for '/css/1140.css'}", :type => "text/css", :media => "screen" }
    %link{:rel => "stylesheet", :href => "#{url_for '/'}#{@style}", :type => "text/css", :media => "screen" }
    %script{:type => "text/javascript", :src => "http://patf.net/js/css3-mediaqueries.js"}
  %body
    %div.header
      - partial @nav
    -if @error.nil? && @error != ''
      %div.error
        %span
          =@error
    =yield
    %div.container.footer
      %div.paging
        -if @prev > 0
          %a{:href=>"0"}
            %span.page
              <<
        -if @prev > -1
          %a{:href=>"#{@prev}"}
            %span.page
              <
        -if @next != ''
          %a{:href=>"#{@next}"}
            %span.page
              >
        -if !@current_user.nil? && !@current_user.username.nil?
          %a{:href=>"#{url_for('/u/' + @current_user["username"])}"}
            %span.page
              Account
          %a{:href=>"#{url_for '/logout'}"}
            %span.page
              Logout
        -else
          %div
            %p
              %a.signin-fb{:href=>"#{url_for('/auth/facebook')}"}

