%div.nav{:align=>"right"}
-if @next != ''
  %form{:action=>"#{url_for('/u/' + params["user"] + '/search')}", :method=>"post"}
    -if @prev > -1
      %a{:href=>"#{@prev}"}
        %span.page
          <
    %span
      %input{:type=>"search", :name=>"search", :results=>"5"}
    %span
      %input{:type=>"submit", :value=>"?"}
      %a{:href=>"#{@next}"}
        %span.page
          >
-elsif !@search.nil?
  %form{:action=>"#{url_for('/u/' + params["user"] + '/search')}", :method=>"post"}
    %a{:href=>"#{url_for('/u/' + params["user"] + '/')}"}
      %span.page
        <
    %span
      %input{:type=>"search", :name=>"search", :results=>"5"}
    %span
      %input{:type=>"submit", :value=>"?"}


