%div.container.main
  %div#last
  -prevdate = ''
  -@links.each do |link|
    -currdate = link.updated_at.strftime('%a %b %d, %Y')
    -if currdate != prevdate
      %div.datesec
        =currdate
    %div.link
      -if !link.thumb_url.nil?
        %img{:src=>"#{link.thumb_url}"}
      %a{:href=>"#{url_for('/' + link.local_url)}", :title=>"#{link.remote_url}"}
        #{link.title} 
      %a{:href=>"#{link.remote_url}", :title=>"original page", :class=>'external'}
        (www)
    -prevdate = currdate
