%div.container.main
  %div#last
  -prevdate = ''
  -@links.each do |l|
    %div.row
      -l = l.link unless l.link.nil?
      -currdate = l.date.strftime('%a %b %d, %Y')
      -if currdate != prevdate
        %div.twelvecol.last.datesec
          =currdate
      %div.twelvecol.last.link{:id=>"#{l.id}"}
        -if !current_user.nil?
          %span.page.hidden.delete{:id=>"#{l.id}"}
            -if @mode == 'normal'
              D
            -else
              U
          
        -if !l.local_url.nil?
          %a{:href=>"#{l.remote_url}", :title=>"original page", :class=>'external'}
            ⌂ 
          %a{:href=>"#{url_for('/' + l.local_url)}", :title=>"#{l.remote_url}"}
            -if l.title.nil? || l.title == ""
              [No Title]
            -else
              #{l.title} 
        -else
          %a{:href=>"#{l.remote_url}", :title=>"original page", :class=>'external'}
            #{l.title} 
      -prevdate = currdate
:javascript
  var editmode = false;
  $('#edit').removeClass('hidden').bind('click', (function() {
    if(!editmode) {
      $('#edit').text('Done').addClass('page');
      $('.delete').removeClass('hidden');
    }else{
      $('#edit').text('Edit').addClass('page');
      $('.delete').addClass('hidden');
    }
    editmode = !editmode;
  }));
  
  $('.delete').bind('click', (function() {
    var obj = this;
    var out_data = {
      obj_id : $(obj).attr('id'),
      mode: '#{@mode}',
      fetch: 1
    };
    $.post(
      "#{url_for('/u/' + @user + '/remove')}",
      out_data,
      function(INFO) {
        $(obj).data('fsr', INFO);
        $(obj).parent().remove();
      },
      'json'
    );
  }));
