%div.container.main
  %div#last
  -prevdate = ''
  -@links.each do |ul|
    -currdate = ul.link.date.strftime('%a %b %d, %Y')
    -if currdate != prevdate
      %div.datesec
        =currdate
    %div.link{:id=>"#{ul.id}"}
      %a{:href=>"#{url_for('/' + ul.link.local_url)}", :title=>"#{ul.link.remote_url}"}
        #{ul.link.title} 
      %a{:href=>"#{ul.link.remote_url}", :title=>"original page", :class=>'external'}
        (www)
      %img.delete{:id=>"#{ul.id}"}
    -prevdate = currdate
  :javascript
    $('.delete').bind('click', (function() {
      var obj = this;
      var out_data = {
        obj_id : $(obj).attr('id'),
        fetch: 1
      };
      $.post(
        "#{url_for('/u/' + @user + '/remove')}",
        out_data,
        function(INFO) {
          $(obj).data('fsr', INFO);
          $(obj).parent().remove();
        },
        'json'
      );
    }));
