%h4
  %a{href: "#{url_for("/sources")}"}
    sources
  >
  %a{href: "#{url_for("/source/#{feed.id}")}"}
    =feed.title
%hr
#articles
  -articles.each do |article|
    .item
      %a{href:"#{article.source_urls["content"]}", title:"#{article.title}"}
        #{article.title} (#{article.date.strftime("%Y-%m-%d")})
      %form{action: "#{url_for("/article/new")}", method: "POST"}
        %input{type:"Hidden", name:"source_id", value:"#{feed.id}"}  
        %input{type:"Hidden", name:"url", value:"#{article.source_urls["content"]}"}  
        %input.btn{type:"Submit", value:"Save"}
:javascript
  $(window).load(function()
    {
      var container = document.querySelector('#articles');
      var msnry = new Masonry( container, {
          // options
            columnWidth: 100,
              itemSelector: '.item'
      });
    });
