<!DOCTYPE html>
%html
  %head
    %title#title
      #{@title}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
    %script{:type => "text/javascript", :src => "#{url_for("/js/jquery.min.js")}"}
    %script{:type => "text/javascript", :src=>"#{url_for("/js/bootstrap.min.js")}"}
    %script{:type => "text/javascript", :src=>"#{url_for("/js/masonry.pkgd.js")}"}
    %link{:rel => "stylesheet", :href => "#{url_for("/css/default.css")}", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "#{url_for("/css/jquery-ui.css")}", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Cabin", :type => "text/css", :media => "all"}
    %link{:rel => "stylesheet", :href => "#{url_for("/css/bootstrap.min.css")}", :type => "text/css"}
  %body
    %header.navbar.navbar-static-top{role:"banner"}
      %div.container
        %div.navbar-header
          %button{class:"navbar-toggle", type:"button",data:{toggle:"collapse",target:".pg-navbar-collapse"}}
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %nav.collapse.navbar-collapse.pg-navbar-collapse{role:"navigation"}
          %form.navbar-form.navbar-left{id: "search", action: "#{url_for("/search")}", method: "GET"}
            .form-group
              %input.form-control{type: "TEXT", id: "q", name: "q", autofocus: true}
            %span.navbar-info
    %div.container#content
      =yield
      %div.row
    %hr
    %div.container#footer
      A 
      %a{href:"http://patf.net"}
        patf
      joint
