%div.main.container
  %div.row
    %div.twelvecol
      %form{:method=>'post', :action=>"#{url_for('/u/' + @current_user.username + '/stream')}"}
        %input{:type=>'hidden', :name=>'uid', :value=>"#{@current_user.uid}"}
        -if !@stream.nil?
          %input{:type=>'hidden', :name=>'streamid', :value=>"#{@stream._id}"}
        %p
          %label{:for=>'type'} 
            Type
        %p
          %select{:name=>'type'}
            - for type in @types
              %option{:value=>type}
                =type
        %p.cred
          %label{:for=>'name'}
            Name                                                       
        %p.cred
          %input{:type=>'textbox', :name=>'name', :value=>"#{@stream.nil? ? '' : @stream.name}"}
        %p.cred{:style=>"display:#{@cred}"}
          %label{:for=>'username'} 
            Username
        %p.cred{:style=>"display:#{@cred}"}
          %input{:type=>"textbox", :name=>"username", :value=>"#{@stream.nil? ? '' : @stream.username}"}
        %p.cred{:style=>"display:#{@cred}"}
          %label{:for=>'password'} 
            Password
        %p.cred{:style=>"display:#{@cred}"}
          %input{:type=>"password", :name=>"password"}
        %p.url{:style=>"display:#{@url}"}
          %label{:for=>'url'} 
            URL
        %p.url{:style=>"display:#{@url}"}
          %input{:type=>"url", :name=>"url", :value=>"#{@stream.nil? ? '' : @stream.url}"}
        %p
          %input{:type=>'submit', :id=>'submit', :value=>'  Save  '}
:javascript
  $('select').change(function() {
    setup_select(this);
  });
  function setup_select(obj) {
    switch(obj.value.toLowerCase()) {
      case 'gmail':
      case 'twitter':
      case 'facebook':
        $('.url').hide();
        $('.cred').show();
      break;
      case 'rss':
        $('.url').show();
        $('.cred').hide();
      break;
    }
  }
  
